@keyframes slide-out-left{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-in-right{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out-left{
    animation: slide-out-left 0.5s forwards;
}

.slide-in-right{
    animation: slide-in-right 0.5s forwards;
}
/* body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.containerG{
    position: fixed;
    width: 638px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 57, 63, 0.1);
    border-radius: 72px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(82, 172, 255, 0.2);
}

.form-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.headerG{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    position: absolute;
    color:#FFFFFF;
    font-size: 58px;
    font-family: Nunito;
    font-weight: 900;
    top: 5%;
    
}
.whiteContainerG1{
    position: absolute;
    width: 323px;
    height: 61px;
    left: 36%;
    top: 32%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.whiteContainerG2{
    position: absolute;
    width: 123px;
    height: 61px;
    left: 36%;
    top: 68%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.whiteContainerG6{
    position: absolute;
    width: 323px;
    height: 61px;
    left: 36%;
    top: 56%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.whiteContainerG3{
    position: absolute;
    width: 323px;
    height: 61px;
    left: 36%;
    top: 44%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.G7{
    position: absolute;
    width: 323px;
    height: 61px;
    left: 36%;
    top: 32%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.G8{
    position: absolute;
    width: 323px;
    height: 61px;
    left: 36%;
    top: 44%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.textboxGcont{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 160px;
    left: 36%;
    top: 56%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;

}
.textboxG{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textboxG7{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textboxG8{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textboxGt{
    font-family: Nunito;
    width: 280px;
    height: 108px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    resize: none;
    border: 1px solid #E0E0E0;
}
.textbG{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    position: absolute;
    width: 276px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.textbG7{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    position: absolute;
    width: 276px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.textbG8{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    position: absolute;
    width: 276px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.textbGage{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    position: absolute;
    width: 76px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.txt1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapperG{
    position: absolute;
    top: 32%;
    left: 5%;
}


.submitG{
    position: absolute;
    top: 88%;
    left: 405px;
    width: 140.57px;
    height: 50.84px;
    font-weight: 700;
    font-family: 'Nunito';
    font-size: 17px;
    line-height: 150%;
    background: #0F8BFF;
    border: none;
    border-radius: 36px;
    padding: 10px 30px;
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}
.submitG:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
