
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.text{
    color: rgb(255, 255, 255);
    font-family: "Nunito", sans-serif;
}

.main {
    width: auto;
    height: 300px;
    background-color: #1b1b1b ;
    position: relative;
}

.mid {
    width: 90%;
    height: 80%;
    background-color: #4BCCBE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.coll{
    display: flex;
    color: white;
    font-family: "Nunito", sans-serif;
    
   
}


.col1 ul{
    list-style-type: none;
    
    

}
.col1 ul li:hover{
    color: #1b1b1b;
  
    transition: 0.5s;

}
.contactus{
    list-style-type: none;
    margin-left: -30px;

}

.guidef{
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    margin: 5px;
    margin-left: 0;
    margin-bottom: 10px;
    
    
}
.guidef :hover{
    color: white;
}

.col2{
    position: relative;
    left: 40%;
}

.socialicon ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: larger;
    color: #1b1b1b;
    
    
}
.socialicon li {
    margin: 0 10px;
}
.copyright{
    text-align: center;
}


@media (min-width: 768px) {
    
}

/* Extra large devices */
@media (min-width: 1200px) {
   
}