.vehicle-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd; /* Adding a border to the image */
    border-radius: 4px; /* Adding slight rounding for better appearance */
    padding: 5px; /* Optional padding */
  }
  
  .MuiInputBase-root {
    display: flex;
    align-items: center;
  }
  
  .vcards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }