.travelheaderpvr{
  text-align: center;
  background: linear-gradient(to right, #feca2e 20%, #dfe196 80%); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  color: transparent;
}

.travelheadervr{
  height: auto;
  width: 100%;
  position: absolute;
  top: 20vh;
  color: white;
  font-weight: 900;
  font-size: 44px;
}

#backimg{
  margin-top: -150px;
}
