.navigation {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.rent-your-header {
    font-size: 2.5rem;
    margin-top: 2.5%;
    margin-left: 13%;
    margin-bottom: 40px;
}
.footergap {
    margin-top: 50px;
}

.vehicle-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: #4BCCBE;
    padding: 50px;
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    min-height: 600px;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .vehicle-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 20px;
        min-height: 850px;
    }
}

@media (max-width: 480px) {
    .vehicle-list {
        grid-template-columns: 1fr;
        gap: 10px 15px;
        min-height: 850px;
    }
}

.vehicle-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    height: 200px;
    width: 175px;
    margin: 0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.vehicle-card.selected {
    border: 2px solid #000000;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.vehicle-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.vehicle-image {
    position: relative;
    top: 20px;
}

.card-details {
    position: absolute;
    bottom: 55px;
    font-weight: bold;
}

.card-details-2 {
    position: relative;
    top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-detail-A {
    font-size: 23px;
    position: relative;
}

.card-detail-B {
    font-size: 23px;
    position: relative;
    left: 10px;
}

.card-detail-C {
    position: relative;
    left: 18px;
}

.footer-section {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 2%;
}
@media (max-width: 768px) {
    .footer-section {
        scale: 80%;
        bottom: 0.5%;
    }
}

@media (max-width: 480px) {
    .footer-section {
        scale: 60%;
        bottom: 0.1%;
    }
}

.number-of-days-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-of-days-input label {
    font-size: 25px;
    font-weight: bold;
}

.number-of-days-input input {
    width: 50px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #df7474;
    border-radius: 5px;
    text-align: center;
}


.continue-button {
    background: #131312;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: aliceblue;
    transition: background-color 0.3s, transform 0.3s;
}

.continue-button.highlighted {
    background: #000000;
}

.continue-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.continue-button:hover:not(:disabled) {
    background: #1f1f1fc0;
    transform: scale(1.05);
}
