.mapcontainer{
    margin-top: 0px;
}

@media (max-width: 1000px) {
    .mapcontainer {
        margin-top: 140px;
    }
}

.travelheader{
  height: auto;
  width: 100%;
  position: absolute;
  top: 20vh;
  color: white;
  font-weight: 900;
  font-size: 44px;
  }

  .travelheaderp{
    text-align: center;
    background: linear-gradient(to right, #d6b583 20%, #FFFFFF 80%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
  }

.searchbox{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    z-index: 1;
    display: grid;
    align-items: center;
    padding: 10px 20px;
    margin-top: -10px;
  }
  
  .locationbox{
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1;
  }
  .form-control{
    border-radius: 20px;
  }
  
  .roundbox{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fa0;
  }
  
  .makethiscenter{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .btn{
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
  }


  .navback{
    width: 100vh;
    margin-top: -180px;
    z-index: 1;
  }
  .navbackimgvr{
    max-width:;
  }

#clearbtn{
    background: #FF7777;
    border: none;
    font-weight: 700;
  }
  #clearbtn:hover {
    background: #FF4C4C;  
}

#inputbox{
    margin-top: 5px;
}

.renttext{
  width: 100%;
  padding: 50px;
  font-size: 1.7rem;
  text-align: center;
}