@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root {
    --maincolor: #4BCCBE;
    --yellow: #FEDA59;
    --textcolor: black;
    --ash: #D9D9D9;
}

.navheader {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 74px;
    padding: 2rem;
    position: relative;
    top: 10px;
    z-index: 100;
}

nav a {
    margin: 0 0.8rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 780;
    font-size: 18px;
    letter-spacing: 0.1em;
}

nav a:hover {
    color: var(--yellow);
    cursor: pointer;
}

.logo-container {
    display: flex;
    position: absolute;
    left: 50px;
    top: 10px;
}

.navlogo {
    width: 90px;
    cursor: pointer;
}

.navlogo:hover {
    transform: scale(1.05);
    transition: ease-in-out 300ms;
    cursor: pointer;
}

.navlogotext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: xx-large;
    padding-top: 30px;
}

.login {
    padding: 8px 28px;
    border: none;
    border-radius: 20px;
    margin: 0 1rem;
    font-weight: 1000;
    color: rgb(55, 53, 53);
    background-color: var(--ash);
    cursor: pointer;
}

.signup {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    margin: 0 1rem;
    font-weight: 800;
    color: white;
    background-color: #0571ba;
    cursor: pointer;
}

.signup:hover {
    background-color: #0687d4;
}

.login:hover {
    background-color: #FFFFFF;
    color: black;
}

header .nobtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
}

nav .ncbtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    header .nobtn {
        visibility: visible;
        opacity: 1;
    }

    header .ncbtn {
        visibility: visible;
        opacity: 1;
    }

    header .ncbtn:hover {
        color: red;
        background: rgba(255, 0, 0, 0.2);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }

    header .nobtn:hover {
        color: rgb(207, 208, 207);
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        transform: translateY(-100vh);
        z-index: 1000;
    }

    header .responsive_nav {
        transform: none;
        overflow-y: auto;
    }

    nav .ncbtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: aliceblue;
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }

    nav a {
        font-size: 1.5rem;
    }
}

body.nav-open {
    overflow: hidden;
}

.navheader .active {
    color: #0687d4;
    font-weight: 900;
}
